.App {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px;
}

input {
	margin: 5px;
	padding: 5px;
	min-width: 400px;
	font-size: 18px;
	border-width: 0 0 2px;
}

#name {
	text-transform: capitalize;
}

input:focus {
	outline: none;
}

button {
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
	border: 2px solid black;
	border-radius: 50px;
	margin-top: 10px;
	padding: 10px 80px;
}

button:hover {
	background-color: black;
	cursor: pointer;
}